section.page.home
  h2 Welcome to a skeleton for Daily To Do

  ul.list-group(data-hook="todos-list")

  .buttons.btn-group
    button.btn.btn-default(data-hook="fetch") .fetch()
    a.btn.btn-default(href="/todo/add") Add To Do
