li.todo.list-group-item(data-hook="complete")
  .task
    input(type="checkbox", data-hook="action-complete")
    a(data-hook="task")
    span.btn-group.btn-group-xs.pull-right
      a.btn.btn-default(data-hook="action-expand") &darr;
      a.btn.btn-default(data-hook="action-edit") edit
      a.btn.btn-danger(href="#", data-hook="action-delete") delete
  .summary(data-hook="summary-section")
    textarea(data-hook="summary", name="summary", cols="30", rows="3", placeholder="How'd it go?")
    button(data-hook="action-update-summary") done!
